.panel-card {
    width: 20rem;
    height: 10rem;
    background-color: #2e3136;
    color: white;
}

.panel-card:hover {
    background-color: #484848;
}

.jumbotron {
    padding: 2em;
    opacity: 1;
    background-color: transparent;
    color: #80BFF4;
}

a:hover {
    text-decoration: none;
}

#app {
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

