.panel-card {
    width: 20rem;
    height: 10rem;
    background-color: #2e3136;
    color: white;
}

.panel-card:hover {
    background-color: #484848;
}

.jumbotron {
    padding: 2em;
}

a:hover {
    text-decoration: none;
}



